/ClientConsoleApp/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/ClientConsoleApp/obj/Debug/ClientConsoleApp.csproj.AssemblyReference.cache
/ClientConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HostConsoleApp/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/HostConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HostConsoleApp/obj/Debug/HostConsoleApp.csproj.AssemblyReference.cache
/WcfServiceLibrary/WcfServiceLibrary/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/WcfServiceLibrary/WcfServiceLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WcfServiceLibrary/WcfServiceLibrary/obj/Debug/WcfServiceLibrary.csproj.AssemblyReference.cache
