<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICalculatorDuplex" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculator" />
                <binding name="WSHttpBinding_ICalculator1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/WcfServiceLibrary/CalculatorService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
                contract="ICalculator" name="WSHttpBinding_ICalculator">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8888/WcfServiceLibrary/CalculatorService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator1"
                contract="ServiceReference1.ICalculator" name="WSHttpBinding_ICalculator1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8888/WcfServiceLibrary/CalculatorDuplexService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICalculatorDuplex"
                contract="DuflexServiceReference1.ICalculatorDuplex" name="WSDualHttpBinding_ICalculatorDuplex">
                <identity>
                    <userPrincipalName value="DESKTOP-SBHUAUV\thirautech" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>